@keyframes marquee {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-50%, 0, 0);
	}
}

@keyframes newsConnectorHeight {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}

@keyframes newsBorderAnimation1 {
	0% {
		border-color: transparent $c8 $c8 transparent;
		height: 0;
		width: 0;
	}
	50% {
		border-color: transparent $c8 $c8 transparent;
		height: 100%;
		width: 0;
	}
	100% {
		border-color: transparent $c8 $c8 transparent;
		height: 100%;
		width: 100%;
	}
}

@keyframes newsBorderAnimation2 {
	0% {
		border-color: $c8 transparent transparent $c8;
		height: 0;
		width: 0;
	}
	50% {
		border-color: $c8 transparent transparent $c8;
		height: 100%;
		width: 0;
	}
	100% {
		border-color: $c8 transparent transparent $c8;
		height: 100%;
		width: 100%;
	}
}

@keyframes waves {
	0%, 100% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
}

@keyframes pointerEvents {
	0% {
		pointer-events: none;
	}
	100% {
		pointer-events: all;
	}
}